body {
    font-family: Arial, sans-serif;
    background-color: #84b3e5;
    text-align: center;

}

.calculator {
    width: 300px;
    background: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 20px 5px rgb(33, 82, 229);
    
}

h2 {
    margin-bottom: 10px;
}

#display {
    width: 100%;
    color:rgb(0, 244, 106);
    height: 40px;
    text-align: right;
    font-size: 1.5em;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.zero {
    grid-column: span 2;
}
.csa:hover{
    background-color: red;
}
.equal:hover{
    background-color: rgb(2, 234, 2);
    
}
.a:hover{
    background-color: red;
}
.b:hover{
    background-color: red;
}
.c:hover{
    background-color: red;
}
.d:hover{
    background-color: #0240ea;
}
.e:hover{
    background-color: #0240ea;
}
.f:hover{
    background-color: #0240ea;
}
.g:hover{
    background-color: #0240ea;
}
.h:hover{
    background-color: rgb(203, 234, 2);
}
.i:hover{
    background-color: rgb(203, 234, 2);
}
.j:hover{
    background-color: rgb(203, 234, 2);
}
.k:hover{
    background-color: rgb(203, 234, 2);
}
.l:hover{
    background-color: rgb(221, 149, 40);
}
.m:hover{
    background-color: rgb(221, 149, 40);
}
.n:hover{
    background-color: rgb(221, 149, 40);
}
.o:hover{
    background-color: rgb(8, 232, 101);
}
.p:hover{
    background-color: rgb(4, 63, 182);
}
.q:hover{
    background-color: rgb(182, 4, 135);
}